Options +FollowSymLinks
RewriteEngine on 


RewriteRule 	^login/?$	app/controller/login.php

RewriteRule 	^register/?$		app/controller/register.php
RewriteRule     ^logout.php/?$     	app/controller/logout.php

RewriteRule  	^processRegistration.php/?$	app/controller/processRegistration.php

RewriteRule  	^processLogin.php/?$ app/controller/processLogin.php

RewriteRule  	^test.php$  app/controller/test.php

RewriteRule 	^$  app/view/firstscreen.php

RewriteRule 	^dashboard.php$  app/controller/dashboard.php

RewriteRule 	^activityFeed/?$  app/controller/activityFeed.php

RewriteRule 	^ProcessDashBoardChangeRegion.php$  app/controller/ProcessDashBoardChangeRegion.php

RewriteRule 	^ProcessAdministrationChangeRegion.php$  app/controller/ProcessAdministrationChangeRegion.php

RewriteRule 	^ProcessSearchUsersChangeRegion.php$  app/controller/ProcessSearchUsersChangeRegion.php

RewriteRule  	^processDashboardEdit.php$    app/controller/processDashboardEdit.php

RewriteRule	  	^processDashboardDelete.php$	app/controller/processDashboardDelete.php

RewriteRule     ^processUserEdit.php$ 		    app/controller/processUserEdit.php

RewriteRule 	^dashboardAddNewPrediction.php$  app/controller/dashboardAddNewPrediction.php

RewriteRule		^processHandlePredictionChanges.php$ app/controller/processHandlePredictionChanges.php


RewriteRule     ^users/([a-zA-Z0-9_-]+)/?$ app/controller/user.php?userQuery=$1

RewriteRule     ^users/([a-zA-Z0-9_-]+)/friends/?$ app/controller/friends.php?userQuery=$1


RewriteRule     ^administrationHome/?$ app/controller/administrationHome.php

RewriteRule     ^administration/?$ app/controller/administration.php

RewriteRule  	^processAdministrationEdit/?$ app/controller/processAdministrationEdit.php

RewriteRule		^processHandleAdminPredictionChanges/?$ app/controller/processHandleAdminPredictionChanges.php

RewriteRule		^processRoleChange/?$ app/controller/processRoleChange.php

RewriteRule		^processSearchForUser/?$ app/controller/processSearchForUser.php



RewriteRule     ^amazonWorker.php$   app/controller/amtWorker.php

RewriteRule     ^handleTurkerRequest$ app/controller/handleTurkerRequest.php


RewriteRule 	^searchUsers.php$  app/controller/searchUsers.php
RewriteRule     ^testcases$ app/controller/testcases.php
RewriteRule 	^otherPredictions.php$  app/controller/otherPredictions.php

RewriteRule     ^predictions/([a-zA-Z0-9_-]+)/?$ app/controller/predictions.php?userQuery=$1

RewriteRule 	^ProcessOtherUsersChangeRegion.php$  app/controller/ProcessOtherUsersChangeRegion.php

RewriteRule    ^handleUserProfileChanges.php$ app/controller/handleUserProfileChanges.php

RewriteRule  ^guest/api/getLatestActualData/HSS/?$  app/controller/guestServices.php?service=getLatestActualData&type=HSS

RewriteRule  ^guest/api/getLatestActualData/CDC/stateActivity/? app/controller/guestServices.php?service=getLatestActualData&type=stateActivity

