
.userTPL_left {
	float: left;
	min-width: 100px;
}

.clearFloat {
	clear: both;
}

.userTPL_profile{
	display: inline;
}

.profileDiv {
	float: left;
	margin: 2em;
}

.profileHeader {
	float: left;
	margin: 1em 1em;
	height: 50px;
}

.editProfileDiv, .followersDiv, .userActivityFeed {
	margin: 2em 0em;
}

.followDiv,  {
	margin: 1em 0em;
}