
.userTPL_left {
	float: left;
	min-width: 100px;
}

.clearFloat {
	clear: both;
}

.userTPL_profile{
	display: inline;
}

.profileDiv {
	float: left;
	margin: 1em;
	height: 200px;
}

.profileHeader {
	float: left;
	margin: 1em 1em;
	height: 50px;
}

.editProfileDiv, .followersDiv, .userActivityFeed {
	margin: 2em 0em;
}

.followDiv,  {
	margin: 1em 0em;
}

.userTPL_firstNameForm,
.userTPL_middleNameForm,
.userTPL_lastNameForm,
.userTPL_userNameForm,
.userTPL_visibilityForm,
.userTPL_emailForm,
.submitChangesButton,
.passwordDiv{
	display: none;
}

.errorBox {
  background-color: rgb(255, 200, 200);
  font-size: 13pt;
  height: 2em;
  display: none;
  margin: 1em;
}

.activityFeedDiv{
	background-color: #E6F0F5;
	border: 1px solid #d8d8d8;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
	min-height: 200px;
}

.activityFeedParag, .activityFeedDate{
	display: inline;
	word-wrap: break-word;
}

.activityFeedDate {
	color: gray;
	margin-left: 2em;
}

.activityFeedComment {
	margin-top: 0.5em;
}

.activityFeedPageHeader {
	margin-bottom: 9em;
}
	