
.userTPL_left {
	float: left;
	min-width: 100px;
}

.clearFloat {
	clear: both;
}

.userTPL_profile{
	display: inline;
}

.profileDiv {
	float: left;
	margin: 2em;
}

.profileHeader {
	margin: 0em 2em;
}

.editProfileDiv {
	float: left;
	width: 300px;
	margin: 2em 0em;
}

.profileContainer {

}