
.userTPL_left {
	float: left;
	min-width: 100px;
}

.clearFloat {
	clear: both;
}

.userTPL_profile{
	display: inline;
}

.profileDiv {
	float: left;
	margin: 1em;
	height: 200px;
}

.profileHeader {
	float: left;
	margin: 1em 1em;
	height: 50px;
}

.editProfileDiv, .followersDiv, .userActivityFeed {
	margin: 2em 0em;
}

.followDiv,  {
	margin: 1em 0em;
}

.userTPL_firstNameForm,
.userTPL_middleNameForm,
.userTPL_lastNameForm,
.userTPL_userNameForm,
.userTPL_visibilityForm,
.userTPL_emailForm,
.submitChangesButton,
.cancelChangesButton,
.passwordDiv{
	display: none;
}

.errorBox {
  background-color: rgb(255, 200, 200);
  font-size: 13pt;
  height: 1.5em;
  display: none;
  margin: 1em;
}



.activityFeedDiv {
    background-color: rgba(100, 100, 100, 0.03);
}

.activityFeedText {
    font-size: larger;
	display: inline;
}

.activityFeedDate {
    display: inline;
    color: gray;
}


.activityFeedPageHeader {
	margin-bottom: 9em;
}

.buttonDisplayHidden {
	display: none;
}

.buttonDisplayInherit {
	display: inherit;
}

.cancelChangesButton {
	margin-left: 2em;
}

#errorMessage {
	margin-left: 1em;
	font-size: smaller;
	font-weight: bold;
}

.severityMapParag {
    margin-top: 0.5em;
    margin-bottom: 3em;
}